*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.auth-buttons{
    display: flex;
    gap: 20px;
}

.auth-buttons button{
    padding: 10px 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #3f007a;
    border-radius: 8px;
    background-color: #ffffff;
    color: #3f007a;
    transition: all 0.3s ease;
}

.auth-buttons button:hover{
    background-color: #3f007a;
    color: #ffffff;
    transform: translate(-2px);
}

.auth-buttons button.active{
    background-color: #3f007a;
    color: #ffffff;
}

.auth-form{
    width: 100%;
    max-width: 400px;
}

.auth-form input,
.auth-form button{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.auth-form button{
    background-color: #3f007a;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.auth-form button:hover{
    background-color: #5a009e;
    transform: translate(-2px);
}